@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.wrapper, .portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand span{
 color: #00ff95;
}


.brand{
    font-size:large;
    margin-top: -7px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;

}

.menu li{
    list-style: none;
    
}


.menu a {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active{
    color: #00ff95;
}

.menu a:hover{
    color: #191c32;
    background-color:#00ff95;
    transition: ease-in .4s;
}

.main .info-content .ingles{
    color: #97dbbf;
    margin-left: 10px;
}

.main .info-content .español{
   margin-left: 20px;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

span{

    color: #00ff95;
}

.downcv{
    margin-left: 30px;
    padding: 10px 20px;
    background-color:#00ff95;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .690);

}

.downcv:hover{
    color: #191c32;
    background-color:white;
    transition: ease-in .2s;
    box-shadow: none;
 }

 .downcv2{
    margin-left: 30px;
    padding: 10px 20px;
    background-color:#fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .690);

}

 .downcv2:hover{
    color:#fff;
    background-color:#191c32;
    transition: ease-in .2s;
    box-shadow: none;
 }


  .about .img1{
    width: 250px;
    height: 250px;
  }
 
 .about {

        margin: 0 auto;
        width: 100vw;
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items:center;
    display: flex;
    justify-content: space-around;
    background-color: #00ff95;

    
 }

 .about-info{

font-size: large;
    width: 40vw;

 }

 .about-info h1{
    color:  #191c32;
 }


 .about-info .aboutmespan{
    color: white;

 }

 .divider2{
    height: 4px;
    width: 60px;
   background-color:#fff;
    margin-top: 10px;
    margin-bottom: 3em;
}


.divider3{
    height: 4px;
    width: 70px;
    background-color:#00ff95;
    margin-top: -85px;
    margin-left: 95px;
    margin-bottom: 3em;
}



 .my-portfolio { 
    padding: 6em;
}

.portfolio-headings p{
    margin-left: 99px;
    margin-top: 50px;
    height: 100px;

}

.portfolio-headings span{
    color: #00ff95;
}

.imagenes{
    background-color: #191c32;
}

.portfolio-headings .imagenes .banner1, .banner2, .banner3  {
    width: 1000px;
    padding: 1em;
    margin-left: 150px;
    border-radius: 30px;

}

.portfolio-headings .imagenes .banner1:hover, .banner2:hover, .banner3:hover  {
    transition: ease-in .4s;
    box-shadow: -9px -5px 4px 0.5px rgb(82, 230, 148)


}


.portfolio-headings .imagenes .banner1:hover  {
    transition: ease-in .4s;
    box-shadow: -9px -5px 4px 0.5px rgb(87, 221, 255)


}


.portfolio-headings .imagenes .banner2:hover  {
    transition: ease-in .4s;
    box-shadow: -9px -5px 4px 0.5px rgba(255, 46, 46, 0.603)


}

.portfolio-headings .imagenes .banner3:hover  {
    transition: ease-in .4s;
    box-shadow: -9px -5px 4px 0.5px rgba(255, 255, 255, 0.808)


}

.contact-section{
    margin-top: 550px;
    background-color: #00ff95;
    height: 800px;
    width: 100vw;
    
}

.divider4{
    height: 4px;
    width: 60px;
   background-color:#191c32;
    margin-top: -95px;
    margin-left: 910px;

}



.keepin{
 margin-left: 800px;
 padding: 3em;
 color: #191c32;
}

.keepin span{
    color: #fff;
}

.container-contact{
    margin-top: 19px;
    margin-left: 450px;
}

.contact-headings{
    font-size: 1.5em;

}

.form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}

.form textarea{
    height: 150px;
    background: none;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #fff;
    
}



.downcv3{
    margin-left:1px;
    padding: 10px 20px;
    background-color:#fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .690);
    margin-top: 20px;
}

 .downcv3:hover{
    color:#fff;
    background-color:#191c32;
    transition: ease-in .2s;
    box-shadow: none;
 }

.container-contact h4{
    color: #fff;
}

.form ::placeholder{
    color: #fff;
}


.footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    height: 200px;
    background-color:#191c32
}

.footer-content h5{
    font-size: 1.5em;
    
}


.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    cursor: pointer;
    color: #fff;
}

.social-network  .fa-twitter {
    transition: ease-in .4s;
    color: #fff;
    

}

.social-network  .fa-instagram {
    transition: ease-in .4s;
    color: #fff;
    

}


.social-network  .fa-linkedin {
    transition: ease-in .4s;
    color: #fff;
    

}



.social-network  .fa-twitter:hover {
    transition: ease-in .4s;
    color:#00ff95;
    

}

.social-network  .fa-instagram:hover {
    transition: ease-in .4s;
    color:#00ff95;
    

}

.social-network  .fa-linkedin:hover {
    transition: ease-in .4s;
    color:#00ff95;
    

}



